*{
    margin: 0;
    padding: 0;
}
nav ol {
    list-style-type: decimal;
    padding-left: 35px;
}
main
 {

background-color: darkblue;
height: 100px;
color: gold;
font-size: 50px;


}

nav
{
    
    
    background-color:rosybrown;
    float: left;
    width: 30%;
    height: 450px;
    color: white;
font-size: 30px;
  
    }
header
{
    
    text-align: center;
    background-color: magenta;
 float: left;
 width: 70%;
 height: 450px;
 color: white;
 font-size: 30px;
}
footer
{
    
    font-size: 40px;
   
    background-color: gold;
    height: 50px;
clear: both;
color: black;

}
th{
    background-color: red;
    border: 2px solid black;
    
}
.menu{
    margin: 10px;
}
table{
    margin: 20px;
    width: 850px;
    border-collapse: collapse;
    border: 2px solid black;
}
 td{
    background-color: grey;
    border: 1px solid black;
}
img{
    height: 100px;
    width: 200px;
}

